---
version: "3"

services:
  app:
    container_name: "${CONTAINER_NAME_PREFIX}-${APP_NAME}"
    build:
        context: .
        dockerfile: ./Dockerfile
        args:
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
    volumes:
      - ${APP_PATH}:/var/www/html
    ports:
      - "${APP_PORT}:80"
    environment:
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}
      - no_proxy=${no_proxy}

  db:
    container_name: "${CONTAINER_NAME_PREFIX}-postgres"
    image: postgres
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - ${PATH_TO_DB_DATA}:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"